#list of symbol,timeframe,no of share,indicators,weigth,


#backtrader:-
backtrader
#django install versions
Django
#google
tensorboard
#google-api-python-client google-auth-httplib2 google-auth-oauthlib
google-services-api
matplotlib == 3.2.2
